@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #2EFFF7, #2FC5EB);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #041394;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #216BFF;
  text-align: center;
  text-shadow: 1px 1px 2px #0313a3a4;
}

h2 {
  
  color: #36A8FF;
}

p {
  text-align: justify;
}